(
    config: (
        name: "Knife",
        weapon_type: Knife,
        damage: "2.0",
        range: "25.0",
        attack_pattern: Combo(
            strikes_in_combo: 3,
        ),
        attack_duration_frames: 8,
        cooldown_frames: 20,
        knockback_force: "5.0",
        stamina_cost: "5.0",
    ),
    sprite_config: (
        name: "knife",
        index: 0,
        weapon_offset: (x: "0.0", y: "0.0"),
    ),
)
